<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/estilos.css" />
    <link rel="stylesheet" href="../../css/menu.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../ArchJavaSc/menuDes.js"></script>
</head>
<body>

        <header class="header">
            <div class="espacio_titulo">
                <a href="../plantilla.html" class="link log">Voluntariado</a>
            </div>
        
            <nav>
                <ul class="menu">
                    <li class="menu-item"><a href="#" class="link menu-link">Nosotros</a></li>
                    <li class="menu-item"><a href="#" class="link menu-link">Noticias</a></li>
                    <li class="menu-item"><a href="../Buscar/Buscar.html" class="link menu-link">Buscar</a></li>
        
                <div class="icon-esquin">
                    <a href="../inicio sesion/inicioSesion.html" class="menu-item">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a href="#" class="menu-icon" id="menuToggle">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    </ul>
                </div>
            </nav>
        </header>
         <aside class="side-menu" id="sideMenu">
            <ul>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Otras cosas</a></li>
                <li><a href="#">No sé qué más poner</a></li>
            </ul>
        </aside>
        

    <main>
        <section>
            <br>
            <br>
            <h1>Ultimas Noticias</h1>
            <div class="card mb-3 w-100"> 
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://www.universia.net/content/dam/universia/imagenes/2021/10/beneficios%20del%20voluntariado.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Interes en voluntariados</b></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card mb-3 w-100"> 
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://www.ucr.ac.cr/medios/fotos/2021/dsc_6126_web619ff2b49b764.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Crecimiento de los voluntariados</b></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit ad, tellus fermentum augue dignissim nulla placerat bibendum potenti morbi, sapien tempor torquent ligula malesuada interdum at. Phasellus ultrices facilisi magnis vulputate aptent vivamus at, nisl egestas fames quisque primis. Diam tortor duis laoreet facilisis sagittis hendrerit cursus feugiat fames, tempus sed lacus netus sociis penatibus platea commodo, bibendum ligula mollis justo senectus vestibulum inceptos vel. Augue mi mattis convallis viverra quam rutrum rhoncus integer libero vivamus tincidunt molestie lacinia vestibulum, ligula hendrerit montes fusce aliquet ornare nibh felis semper habitasse phasellus pretium.</p>
                            <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
              
        </section>
    </main>

    <footer class="foot">
        <br />
        <p>Maneras de contacto</p>
        <div class="sociales" aria-hidden="true">
          <a href="https://www.instagram.com/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.whatsapp.com/?lang=es_LA"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
          <a href="https://www.facebook.com/?locale=es_LA"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </div>
        <div></div>
      </footer>

</body>
</html>
