<!DOCTYPE html>

<html>
  <head th:fragment="head">
    <title>Voluntariado</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <header th:fragment="heade" class="header">
      <div class="espacio_titulo">
        <a href="plantilla.html" class="link log">Voluntariado</a>
      </div>
      <br />
      <ul class="menu">
        <li class="menu-item">
          <a href="Nosotros.html" class="link menu-link">Nosotros</a>
        </li>
        <li class="menu-item">
          <a href="" class="link menu-link">Noticias</a>
        </li>
        <li class="menu-item">
          <a href="" class="link menu-link">Buscar</a>
        </li>
        <div class="icon-esquin">
          <a href=""> <i class="fa-solid fa-user"></i></a>
        </div>
      </ul>
      <br />
    </header>
    <aside fragment="aside">
      <br />
    </aside>
    <footer fragment="footer_todo" class="foot">
      <br />
      <p>Maneras de contacto</p>
      <div class="sociales" aria-hidden="true">
        <a href="https://www.instagram.com/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.whatsapp.com/?lang=es_LA"
          ><i class="fa-brands fa-whatsapp"></i
        ></a>
        <a href="https://www.facebook.com/?locale=es_LA"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </div>
      <div>
        <ul class="menu">
          <ul></ul>
        </ul>
      </div>
    </footer>
  </body>
</html>
