* {
  margin: 0;
  box-sizing: border-box;
}

.espacio_titulo {
  margin: 12px;
}

.header {
  background-color: #3670da;
  height: 110px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
}

body {
  font-family: sans-serif;
  padding: 80px 20px 0;
  min-height: 100vh;
}

.nav {
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

.link {
  color: white;
  text-decoration: none;
}

.log {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 0 60px;
  line-height: 30px;
}

.menu {
  justify-content: center;
  display: flex;
  margin-right: 10px;
  list-style: none;
  font-weight: normal;
  margin-left: 280px;
  height: 90px;
}

.nav-cate {
  display: flex;
  margin-right: 40px;
  list-style: none;
  line-height: 80px;
}

.menu-item {
  font-size: 18px;
  margin: 0 5px;
  height: 30px;
}

.menu-link {
  padding: 8px 12px;
  border-radius: 10px;
}

.menu-link:hover {
  background: #9ccaf4;
  padding: 8px 12px;
  border-radius: 120px;
  transition: 0.2s;
  box-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 30px blue, 0 0 50px blue;
  outline-color: transparent;
  color: black;
}

.foot p {
  background: #3670da;
  color: white;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0%;
}

.sociales {
  justify-content: center;
  display: flex;
  border: 1px #fd1d1d;
  border-radius: 1px;
  background: #274381;
  box-shadow: 0 0 5px #64afa9;
  padding: 15px;
}

.sociales a {
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: #274381;
  font-size: 2.5em;
}
.sociales a:nth-child(1) {
  color: #fd1d1d;
}
.sociales a:nth-child(2) {
  color: greenyellow;
}
.sociales a:nth-child(3) {
  color: #1da1f2;
}

.sociales a:hover {
  background: #3670da89;
}

.icon-esquin {
  align-items: center;
  margin-left: 250px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  background: #3670da;
  padding: 10px;
  border: 2px transparent black;
  font-size: small;
}

.icon-esquin a {
  margin-right: 5px;
  background: #fff;
  height: 30px;
  width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: none;
  position: relative;
  font-size: 2.3em;
}
.icon-esquin a:hover {
  background: #9ccaf4;
  border-color: #9ccaf4;
  padding: 20px;
  border-radius: 120px;
  transition: 0.2s;
  box-shadow: 0 0 5px blue, 0 0 15px blue, 0 0 0px blue, 0 0 50px blue;
}

.icon-esquin a:nth-child(1) {
  color: black;
}
